@font-face {
    font-family: 'tekomedium';
    src: url('fonts_gaming/teko-medium-webfont.woff2') format('woff2'),
         url('fonts_gaming/teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(89, 87, 87);
}

.left-header {
    width: 20%;
    height: 6%;
    float: left;
}

.nav-menu-right {
    margin-left: 15%;
    position: absolute;
    height: 5.5%;
    width: 85%;
    background-color: rgb(80, 79, 79);
    background-image: linear-gradient(175deg, rgb(80, 79, 79) 0%, rgb(77, 59, 59) 100%);
    z-index: -1;
}

.username-title-div {
    top: 7%;
    position: absolute;
    height: 10%;
    width: 100%;
    border: 1px dashed transparent;
}

.username-title {
    color: rgb(164, 149, 149);
    text-shadow: 2px 2px 14px rgba(255, 78, 78, 0.349);
    text-align: center;
    font-size: 70px;
    font-family: 'tekomedium';
    line-height: 0;
}

.team-name {
    margin-left: 10%;
    float: left;
    color: rgba(255, 78, 78, 0.849);
    text-shadow: 3px 3px 10px rgba(255, 94, 94, 0.808);
    border: 1px dashed transparent;
}

.team-name-title {
    text-align: center;
    font-size: 28px;
    font-family: 'tekomedium';
    line-height: 0;
}

.social-media-header {
    margin-top: 5px;
    position: relative;
    float: right;
    right: 4%;
    height: 100%;
    width: 25%;
    border: 1px dashed transparent;
}

.social-media-text {
    text-align: left;
    margin-left: 10%;
    font-family: 'tekomedium';
    font-size: 23px;
    line-height: 0;
    float: left;
    color: rgb(202, 70, 70);
    text-shadow: 2px 2px 12px rgba(255, 78, 78, 0.849);
}

.discord-logo {
    float: right;
    width: 8%;
    margin-top: 1%;
}

.twitter-logo {
    float: right;
    width: 8%;
    margin-top: 1%;
    margin-right: 2%;
}

.youtube-logo {
    float: right;
    width: 8%;
    margin-top: 1%;
    margin-right: 2%;
}

.logo-header {
    position: absolute;
    margin-left: 4%;
    margin-top: .4%;
}
